<% content_for :title, t("coordination_centres.title") %>
<% content_for :meta_tags do %>
  <meta name="description" content="<%= t("coordination_centres.title") %>" />
<% end %>

<% content_for :back_link do %>
  <%= render "govuk_publishing_components/components/back_link", { href: previous_path } %>
<% end %>

<%= render "govuk_publishing_components/components/title", {
  title:t("coordination_centres.title"),
  margin_top: 0
} %>

<%= sanitize(t("coordination_centres.body_text")) %>

<div>
  <%= render "govuk_publishing_components/components/button", {
      text: t("coordination_centres.button.label"),
      href: accommodation_url,
      margin_bottom: true
  } %>
</div>
